.menu-page{
   padding-top: 60px;
   background-image: url(https://i.pinimg.com/originals/83/45/8e/83458ea380aaa6fb561c886060bf68e3.jpg)
   
}

.d-flex{
    display: flex;
    
}

.wrapping {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-page h1{
    display:flex;
    justify-content:center;
    font-size:5rem;
}
